
@using EShopping.Entity.Response.DTO
@using EShopping.Common


@model List<AttendUserDTO>



<div class="partlog">
    <h4>全部参与记录</h4>
    <div class="loglist">
        @if (Model!= null&&Model.Count>0)
        {
            foreach (var item in Model)
            {
                <div class="loglist-item">
                    <a class="log-user-img" href="javascript:;" title=""><img width="100%" class="lazy" src="/images/defaultloading.gif" data-original="@item.faceImg" /></a>
                    <ul class="log-user-name">
                        <li class="name"><span>@item.userName</span>（IP:@item.ipAddress）</li>
                        <li class="lognum"><span class="col">参与<span>@item.buyCount</span>次</span> @item.buyTime.ConvertToPublicDate("yyyy-MM-dd HH:mm:ss")</li>
                    </ul>
                </div>
            }
        }
    </div>
</div>