@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
@media screen and (min-width: 360px) {
    html {font-size: 14px;}
}
@media screen and (min-width: 400px) {
    html {font-size: 16px;}
}
/*@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}*/
@media screen and (min-width:540px ) {
	html{
		font-size:16px;
	}
	#wrapper,#loginPage{
		width:540px; 
		margin:0 auto;
		background:#fff;
		overflow:hidden;
	}
}