
            <header id="header" class="shopcar-top">
             
                <h2 style="background-color: #BF0000; color: #fff !important;">抢红包</h2>
            </header>
            <section id="page-content" class="shopcar-content">
                <div class="rank">
                    <ul class="rob">
                        <li class="curr"><a href="javascript:;" title="">邀请好友得红包</a></li>
                        <li><a href="@Url.Action("MyRed", "MyEShopping")" title="">晒单得红包</a></li>
                        <li><a href="javascript:;" title="">连续签到得红包</a></li>
                        <li><a href="javascript:;" title="">积分升级得红包</a></li>
                    </ul>
                </div>
            </section>
           