@using  EShopping.Entity.Response
  
@model List<SearData>


    <header id="header" class="shopcar-top">
        <h2>全部商品</h2>
    </header>
    <section id="page-content" class="shopcar-content">
        <div class="search_input">
            <div class="search_item">
                @Html.BeginForm("SearchResult", "Product", FormMethod.Post)
                {
                <input type="text" placeholder="请输入商品名称" id="key" name="key" />
                <input type="submit" value="搜索" />
                }
            </div>

            @if(Model!=null&&Model.Count>0)
            {
                   <div class="search_rec">
                <div class="lr-pad">
                    <div class="search_rec_top">
                        <span class="rec">历史记录</span>
                        <span class="rec_del"></span>
                    </div>
                    <ul class="rec_list">

                        @foreach(var item in Model)
                        { 
                        <li><a href="@Url.Action("SearchResult", "Product", new { key=@item.keyword })" title="">@item.keyword</a></li>
                        }
                    </ul>
                </div>
            </div>
            }
         

        </div>
    </section>



</div>

