<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Service请求地址-->
    <add key="ServiceUrl" value="http://114.55.140.242:8080/yigoushopping-services/{0}"/>
    <!--<add key="UploadPrefix" value="http://www.kalezhe.com.cn" />
    <add key="WechatAppId" value="wx2a31736af6d953ae"/>
    <add key="WechatAppSecret" value="9a1078ae0a79a4fee662f2a19e19105b"/>-->
    <!--API 验证-->
    <add key="APIKEY" value="h03xvskitey5d7KcJ3lfanT9oPBD3bgO"/>
    <!---商户ID-->
    <add key="MCHID" value="1381539402"/>
    <!--APP 秘钥-->
    <add key="APPSECRET" value="9a1078ae0a79a4fee662f2a19e19105b"/>
    <!--APP ID-->
    <add key="APPID" value="wx2a31736af6d953ae"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" defaultRedirect="/Home/Index"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestPathInvalidCharacters=""/>
    <authentication mode="Forms">
      <forms name="ESForm" cookieless="UseCookies"/>
    </authentication>
  </system.web>
</configuration>