
            <header id="header" class="shopcar-top">
                <a class="backs" href="javascript:;" title="返回"></a>
                <h2>在线充值</h2>
            </header>
            <div class="search_content">
                <div class="pay_inner">
                    <ul class="money_list">
                        <li class="curr"><em>10</em></li>
                        <li><em>30</em></li>
                        <li><em>50</em></li>
                        <li><em>100</em></li>
                        <li><em>300</em></li>
                        <li><em>500</em></li>
                        <li><em>1000</em></li>
                        <li><em>2000</em></li>
                    </ul>
                    <div class="lr-pad">
                        <input id="moneyTxt" class="moneyTxt" type="text" placeholder="充值金额" />
                    </div>
                    <ul class="pay_channel">
                        <li class="curr"><a href="javascript:;" title=""><img src="../images/b1.jpg" /></a>微信支付</li>
                        <li><a href="javascript:;" title=""><img src="../images/b2.jpg" /></a>支付宝支付</li>
                        <li><a href="javascript:;" title=""><img src="../images/b3.jpg" /></a>招商银行支付</li>
                        <li><a href="javascript:;" title=""><img src="../images/b4.jpg" /></a>工商银行支付</li>
                    </ul>
                    <div class="lr-pad">
                        <input id="pahSub" class="paySub" type="submit" value="确认支付" />
                    </div>
                </div>
            </div>
          