
            <header id="header" class="shopcar-top" style="background:#B70000 !important; border:0px;">
                <a class="backs" href="javascript:;" title="返回"></a>
                <h2 style="color:#fff !important;">付款信息</h2>
            </header>
            <div class="pay_success">
                <div class="pay_success_info">
                    <span class="s_icon"><em>恭喜支付成功!</em></span>
                    <span>本次获得8积分</span>
                </div>
                <div class="vipinner">
                    <h4>VIP进度条</h4>
                    <ul>
                        <li class="viplogo"><a href="javascript:;" title=""><img width="100%" src="../images/viplogo.png" /></a></li>
                        <li class="vipbars"><span></span></li>
                    </ul>
                    <p>VIP积分信息 以及距离领红包还差50积分</p>
                </div>
                <div class="pay_pro_list">
                    <ul>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                        <li>
                            <img src="../images/carlist-img.jpg" width="100%" />
                            <h4>(第88期)Apple phone6S plus颜色随机</h4>
                            <p><a href="javascript:;" title="">立即查看</a></p>
                        </li>
                    </ul>
                </div>
            </div>
           