.content {
	margin:50px auto 0;
	width:300px;
	min-height: 500px;
}

.form-group {
	width:100%;
	float:left;
	margin:5px 0;
}

label{
	margin-bottom:10px;
	float:left;			
}

.field-input, select{
	width:calc(100% - 20px);
	float:left;
	padding:10px;
	font-family:inherit;
}

.share_sub a> em.zhaned{
	display:inline-block;
	height:3rem;
	padding-left:1.4rem;
	background:url(../images/161600998956182911.png) no-repeat center left;
	background-size:auto 1rem;
	color:#999;
}


.checkSelect{
	float:left;
	display:inline-block;
	width:1rem;
	height:1rem;
	line-height:2rem;
	margin-left:-1.5rem;
	margin-top:0.2rem;
}


td.tdchecked{
    background:url(../images/redReg.png) no-repeat bottom right !important;
}